<div class=" portofolio d-flex justify-content-center  ">
    <div>
        <h2 class="text-uppercase fs-1 fw-bolder mb-3 text-center">portfolio component</h2>
       <div class="d-flex justify-content-center align-items-center">
        <div class="line bg-black  me-3"></div>
        <i class="fa-solid fa-star"></i>
        <div class="line bg-black  ms-3"></div>
       </div>
       <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-4 col-md-6 ">
                <div class="overflow-hidden position-relative">
                    <img class="w-100 rounded-3" src="../../assets/images/portfolio_files/poert1.png" alt="">
                <div class="layer rounded-3 position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus fa-6x text-white"></i>
                </div>
                </div>
                 
                    
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="overflow-hidden position-relative">
                    <img class="w-100 rounded-3" src="../../assets/images/portfolio2_files/port2.png" alt="">
                    <div class="layer rounded-3 position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus fa-6x text-white"></i>
                </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="overflow-hidden position-relative">
                    <img class="w-100 rounded-3" src="../../assets/images/portfolio3_files/port3.png" alt="">
                    <div class="layer rounded-3 position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus fa-6x text-white"></i>
                </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="overflow-hidden position-relative">
                    <img class="w-100 rounded-3" src="../../assets/images/portfolio_files/poert1.png" alt="">
                    <div class="layer rounded-3 position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus fa-6x text-white"></i>
                </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="overflow-hidden position-relative">
                    <img class="w-100 rounded-3" src="../../assets/images/portfolio2_files/port2.png" alt="">
                    <div class="layer rounded-3 position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus fa-6x text-white"></i>
                </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="overflow-hidden position-relative">
                    <img class="w-100 rounded-3" src="../../assets/images/portfolio3_files/port3.png" alt="">
                    <div class="layer rounded-3 position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-plus fa-6x text-white"></i>
                </div>
                </div>
            </div>
        </div>
       </div>

       <!-- <div class="model position-fixed start-0 top-0 w-100 h-100 bg-primary opacity-25 d-flex justify-content-center align-items-center">
        <img src="../../assets/images/portfolio_files/poert1.png" alt="">
       </div> -->
    </div>
</div>
